@font-face {
    font-family: "Nexa Light";
    src: url("../fonts/Nexa-Light.otf") format("opentype");
    }
  
@font-face {
    font-family: "Nexa Bold";
    src: url("../fonts/Nexa-Bold.otf") format("opentype");
    }
    
.background-home{
  background-image: url(../image/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .background-home{
    height: 810px;
  }
}

.background-projeto-1{
  background-image: url(../image/background-projeto-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1080px;
}

@media screen and (max-width: 600px) {
  .background-projeto-1{
    height: 810px;
  }
}

.background-projeto-2{
  background-image: url(../image/background-projeto-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .background-projeto-2{
    height: 650px;
  }
}

@media screen and (max-width: 600px) {
  .background-projeto-3{
    background-image: url(../image/background-projeto-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
  }
}

.background-projeto-4{
  background-image: url(../image/background-projeto-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1080px;
}

@media screen and (max-width: 600px) {
  .background-projeto-4{
    height: 600px;
  }
}

.background-projeto-5{
  background-image: url(../image/background-projeto-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .background-projeto-5{
    height: 600px;
  }
}
.trailer{
  background-color: #000;
}

.documentario{
  background-color: #faa61a;
}

.dados{
  background-color: #000;
  height: 650px;
}

.dados2{
  background-color: #faa61a;
  height: 650px;
}

.em-breve{
  background-color: #faa61a;
  height: 350px;
}

a{
    text-decoration: none;
    color: #000;
}

.sidenav {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-content: space-between;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #faa61a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
    text-align: center;
    font-family: 'Nexa Light';
  }

  .sidenav a:hover {
    color: #222222;
    font-family: 'Nexa Bold';
    text-decoration-line: line-through;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 36px;
    margin-left: 320px;
  }

  #main {
    transition: margin-left .5s;
    padding: 16px;
  }

    /* Btn Menu Style */
  
.btn-menu {
    display: inline-block;
    cursor: pointer;
    position: fixed;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #000;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .sidenav-link{
    flex: 1;
  }
  
  .sidenav-social{
    padding-bottom: 50px;
  }
  
  
  .icones-sociais{  
    text-align: center;
    padding-left: 25px;
  }
   
  .icones-sociais li {
      display: inline-block;
  }
   
  .icones-sociais a {
      width: 10%;
      height: 10%;
      background-repeat: no-repeat;
      text-indent: -99999px;
  }

  .instagram {
    background-image: url(../image/instagram.png);
}
 
.facebook {
    background-image: url(../image/facebook.png);
}

.youtube{
    background-image: url(../image/youtube.png);
}

.logo-home{
  width: 40%;
  padding-top: 60px;
}

@media screen and (max-width: 600px) {
.logo-home{
  width: 100%;
}
}

.logo{
  text-align: center;
  margin-top: 10px;
}


.video{    
    margin-top: 20px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
}

.video-2{    
  margin-top: 20px;
  padding-bottom: 200px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .video-2{    
    margin-top: 20px;
    padding-bottom: 100px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.video-3{    
  margin-top: 20px;
  padding-bottom: 200px;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .video-3{    
    margin-top: 20px;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.continue-lendo{
    text-align: center;
    font-family: 'Nexa Light', sans-serif;
    color: #000;
    padding-top: 20px;
}

.continue-lendo p{
    font-family: 'Nexa Light', sans-serif;
}

.continue-lendo i{
    font-size: 30px;
    position: relative;
    top: -25px;
}

.continue-lendo :hover{
    color: #faa61a;
    text-decoration: none;
}

.continue-lendo p:hover{
    font-family: 'Nexa Bold', sans-serif;
}

.poster{
  width: 85%;
  padding-top: 35%;
  position: relative;
  right: -20px;
}

@media screen and (max-width: 600px){
  .poster{
    width: 85%;
    padding-top: 45%;
    position: relative;
    right: -20px;
  }
}

.titulo{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: justify;
  margin-top: 40%;
}
@media screen and (max-width: 600px) {
  .titulo{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: justify;
    margin-top: 60%;
  }
}

.texto{
  font-family: 'Nexa Light', sans-serif;
  font-size: 20px;
  text-align: justify;
}

@media screen and (max-width: 600px) {
  .texto{
    font-family: 'Nexa Light', sans-serif;
    font-size: 15px;
    text-align: justify;
  }
}

.titulo-2{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 30%;
}
@media screen and (max-width: 600px) {
  .titulo-2{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: justify;
    margin-top: 60%;
  }
}

.texto-2{
  font-family: 'Nexa Light', sans-serif;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .texto-2{
    font-family: 'Nexa Light', sans-serif;
    font-size: 15px;
    text-align: justify;
  }
}

.titulo-3{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 15%;
  color: white;
}
@media screen and (max-width: 600px) {
  .titulo-3{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30%;
    color: white;
  }
}

.titulo-4{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 30%;
}
@media screen and (max-width: 600px) {
  .titulo-4{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 30%;
  }
}

.titulo-5{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 35px;
  text-align: justify;
  margin-top: 20%;
}
@media screen and (max-width: 600px) {
  .titulo-5{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 20px;
    text-align: justify;
    margin-top: 30%;
    position: relative;
    right: 0%;
  }
}

.titulo-6{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 5%;
  color: #000;
}
@media screen and (max-width: 600px) {
  .titulo-6{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 20%;
  }
}

.titulo-7{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 30%;
}
@media screen and (max-width: 600px) {
  .titulo-7{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 60%;
  }
}

.texto-3{
  font-family: 'Nexa Light', sans-serif;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .texto-3{
    font-family: 'Nexa Light', sans-serif;
    font-size: 15px;
    text-align: justify;
    color: white;
  }
}

.titulo-8{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 30%;
}
@media screen and (max-width: 600px) {
  .titulo-8{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: 40%;
  }
}

.titulo-9{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: justify;
  margin-top: 40%;
}
@media screen and (max-width: 600px) {
  .titulo-9{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 30px;
    text-align: justify;

  }
}

.titulo-10{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 45px;
  text-align: center;
  margin-top: 15%;
  color: white;
}
@media screen and (max-width: 600px) {
  .titulo-10{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 29px;
    text-align: center;
    margin-top: 30%;
    color: white;
  }
}

.texto-4{
  font-family: 'Nexa Bold', sans-serif;
  font-size: 70px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .texto-4{
    font-family: 'Nexa Bold', sans-serif;
    font-size: 50px;
    text-align: center;
    color: #000;
  }
}

.integrantes{
  width: 110%;
  padding-top: 15%;
  position: relative;
  right: 0px;
}

@media screen and (max-width: 600px){
  .integrantes{
    width: 120%;
    padding-top: 20%;
    position: relative;
    right: 10px;
  }
}